@font-face {
	font-family: 'HeliosExtC';
	src: url('../fonts/heliosextc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/heliosextc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/heliosextc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/heliosextc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/heliosextc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/heliosextc.svg#heliosextc') format('svg'); /* Chrome < 4, Legacy iOS */
}